<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
    <div class="banner">
       <div class="login">
            <a href="{{url_for('main')}}">
                <img src="{{url_for('static',filename='images/logo.png')}}" class = "logoo">
            </a>
           <h2>Sign in to Say Hii</h2>
           <button><img src="{{url_for('static',filename='images/google.png')}}">Sign in with Google</button>
           <hr>
           <form>
            <input type="text" placeholder="Email or Username">
            <input type="password" placeholder="Password">
            <a href="./index.html">
            <button type="button"><span></span>
                Next</button></a>
            <a href="#">
            <button type="button"><span></span>
                Forget password</button></a>
           </form>
           <p>Don't have an Account? <a href="{{url_for('signup')}}">Sign Up</a></p>
           <p>Back to Home page <a href="{{url_for('main')}}">Home</a></p>
       </div>

    </div>
    
</body>
</html>